# --- Node & React (frontend) ---
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.*.local

# --- Python & Django (backend) ---
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Django specific
backend/db.sqlite3
backend/media/
backend/staticfiles/

# --- Env files ---
.env
*.env

# --- Virtual environment ---
.venv/
venv/
ENV/
env/

# --- OS / IDE files ---
.DS_Store
.vscode/
.idea/
*.swp
